<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <gazebo reference="lidar">
    <material>Gazebo/Blue</material>
  </gazebo>
  <link name="lidar">
    <inertial>
      <mass value="0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file://$(find benz_descripition)/meshes/lidar.STL" />
      </geometry>
      <material name="blue">
        <color rgba="0 0 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file://$(find benz_descripition)/meshes/lidar.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="lidar_joint" type="fixed">
    <origin xyz="-0.033651847811622 0 0.0805499999999635" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="lidar" />
  </joint>

</robot>